GangOfFour/target/
GangOfFour/pom.xml.tag
GangOfFour/pom.xml.releaseBackup
GangOfFour/pom.xml.versionsBackup
GangOfFour/pom.xml.next
GangOfFour/release.properties
OcaOcp.iml
.idea/*
GangOfFour/GangOfFour.iml