<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <!-- Appender in file -->
    <appender name="applog" class="ch.qos.logback.core.FileAppender">
        <file>${user.dir}/logs/app-console.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{dd-MM-YYYY HH:mm:ss.SSS}|%level|%-40.40logger{0}|%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender in console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-YYYY HH:mm:ss.SSS}|%level|%-40.40logger{0}|%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender LILITH -->

    <appender name="lilith" class="ch.qos.logback.classic.net.SocketAppender">
        <RemoteHost>localhost</RemoteHost>
        <Port>4560</Port>
        <ReconnectionDelay>170</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
    </appender>

    <logger name="com.edu" level="info" >
    </logger>

    <logger name="org.springframework" level="warn" >
    </logger>

    <logger name="org.springframework.beans" level="warn">
    </logger>

    <root level="warn">
        <appender-ref ref="applog" />
        <appender-ref ref="console" />
        <appender-ref ref="lilith" />
    </root>

</configuration>